<div class="box-body">
  <div class="form-group">
    <label class="col-sm-2 control-label">Họ và tên :</label>

    <div class="col-sm-3">
      <%= f.text_field :name, class: 'form-control editable', readonly: true %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Mã nhân viên :</label>

    <div class="col-sm-3">
      <div class="form-control" readonly>
        <%= current_staff.id %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email :</label>

    <div class="col-sm-3">
      <div class="form-control" readonly>
        <%= current_staff.email %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Vị trí :</label>

    <div class="col-sm-3">
      <div class="form-control" readonly>
        <%= current_staff.email %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Chi nhánh :</label>

    <div class="col-sm-3">
      <div class="form-control" readonly>
        <%= current_staff.email %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">SĐT :</label>

    <div class="col-sm-3">
      <%= f.phone_field :mobile_phone, class: 'form-control editable', readonly: true %>
    </div>
  </div>
</div><!-- /.box-body -->