<div class="box-body">
  <div class="form-group">
    <%= f.label :password, 'Mật khẩu hiện tại:', class: 'control-label col-sm-3' %>

    <div class="col-sm-6">
      <%= f.password_field :current_password, class: 'form-control editable', readonly: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Mật khẩu mới:', class: 'control-label col-sm-3' %>

    <div class="col-sm-6">
      <%= f.password_field :password, class: 'form-control editable', readonly: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Nhập lại mật khẩu mới :', class: 'control-label col-sm-3' %>

    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, class: 'form-control editable', readonly: true %>
    </div>
  </div>
</div>