<% if @people_steps.size > 0 %>
  <div class="table-responsive">
    <%= form_with url: staff_people_path, method: :get, local: true, id: 'prospect-seach-form' do %>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th><%= sortable 'id', 'ID', @condition_params %></th>
            <th><%= sortable 'last_name', 'Họ và tên lót', @condition_params %></th>
            <th><%= sortable 'first_name', 'Tên', @condition_params %></th>
            <th><%= sortable 'organization_id', 'Chi nhánh', @condition_params %></th>
            <th><%= sortable 'status', 'Trạng thái', @condition_params %></th>
            <th><%= sortable 'owner_id', 'Người phụ trách', @condition_params %></th>
            <th><%= sortable 'product_id', 'Sản phẩm', @condition_params %></th>
            <th><%= sortable 'created_at', 'Ngày khởi tạo', @condition_params %></th>
            <th><%= sortable 'updated_at', 'Cập nhật lần cuối', @condition_params %></th>
            <th></th>
          </tr>
          <tr data-row_with_action_buttons class="hidden">
            <th colspan="11" class="text-right">
              <button data-toggle="modal" data-target="#modal-assign-people-owner"
                      data-module="mass_assign_owner"
                      type="button" class="btn btn-success">
                <%= fa_icon 'user-circle' %> Chỉ định người phụ trách
              </button>

              <%= link_to staff_person_path(1),
                          method: :delete,
                          class: 'btn btn-danger',
                          data: { confirm: 'Bạn có chắc chắn muốn archive hồ sơ này không ?' } do %>
                <%= fa_icon 'archive' %> Archive hồ sơ
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render 'search' %>
          <% @people_steps.each do |person_step| %>
            <tr>
              <td>
                <div class="checkbox no-margin">
                  <label class="no-padding">
                    <input type="checkbox"
                          class="i-check"
                          value="<%= person_step.person_id %>"
                          data-module="select_person">
                  </label>
                </div>
              </td>
              <td><%= person_step.person.id %></td>
              <td><%= person_step.person.last_name %></td>
              <td><%= person_step.person.first_name %></td>
              <td><%= person_step.person.organization.name %></td>
              <td><%= person_step.person.status.humanize %></td>
              <td><%= person_step.person.owner.name %> - <%= person_step.person.owner_id %></td>
              <td><%= person_step.product_name %></td>
              <td><%= person_step.created_at %></td>
              <td><%= person_step.updated_at %></td>
              <td>
                <%= link_to staff_person_path(person_step.person, step: person_step.step_id), class: 'btn btn-sm btn-primary' do %>
                  <%= fa_icon 'address-card' %> Xem chi tiết
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div><!-- /.table-responsive -->

  <div class="table-pagination">
    <div class="form-inline rows-per-page">
      Số mục hiển thị trên trang

      <%= select_tag('',
                     options_for_select([25, 50, 100], params[:per_page]),
                     { class: 'form-control will_paginate_per_page' }) %>
    </div>

    <div class="text-center">
      <%= will_paginate @people_steps, renderer: BootstrapPagination::Rails, class: 'no-margin' %>
    </div>
  </div>

<% else %>
  Không có kêt quả nào
<% end %>


<script>
  $(function() {
    let $rowWithActionButtons = $('[data-row_with_action_buttons]');

    $('[data-module=select_person]').on('ifChecked', function(e) {
      let $t = $(this),
          personId = $t.val(),
          selectedPersonIds = $rowWithActionButtons.data('selected_person_ids') || [];

      // Store the selected person id & show the row contain action buttons
      $rowWithActionButtons.data('selected_person_ids', _.union(selectedPersonIds, [personId]))
                           .removeClass('hidden');
    }).on('ifUnchecked', function () {
      let $t = $(this),
          personId = $t.val(),
          selectedPersonIds = $rowWithActionButtons.data('selected_person_ids') || [];

      selectedPersonIds = _.without(selectedPersonIds, personId);

      // Store the selected person
      $rowWithActionButtons.data('selected_person_ids', selectedPersonIds);

      // If there is no selected person_id, hide the row contain action buttons
      if (selectedPersonIds.length === 0) {
        $rowWithActionButtons.addClass('hidden');
      }
    });

    $('[data-module=mass_assign_owner]').on('click', function (e) {
      let $t = $(this),
          $massAssignOwnerForm = $('#mass_assign_owner_form'),
          $peopleIdsHiddenInput = $massAssignOwnerForm.find("input[name='mass_assign_owner[people_ids]']");

      $peopleIdsHiddenInput.val($rowWithActionButtons.data('selected_person_ids'));
    });
  });
</script>