<% # Set the title attribute for this page
   content_for :title do %>
    Khách hàng
<% end %>

<% # Set the title of content
   content_for :content_header do %>
  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-8">
      <div class="pull-right">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-csv-prospect-form">
          <%= fa_icon 'user-plus' %> Nhập từ file CSV
        </button>

        <%= link_to staff_people_fast_prospect_path, class: 'btn btn-primary' do %>
          <%= fa_icon 'list' %> Prospect nhanh
        <% end %>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-normal-prospect-form">
          <%= fa_icon 'user-plus' %> Prospect thường
        </button>
      </div>
    </div>
  </div>
<% end %>

<div class="box box-success">
  <div class="box-body">
    <%= render 'table' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->


<!-- Normal prospect modal form
================================= -->
<%= render partial: 'normal_prospect_form' %>

<!-- Csv prospect import modal form
================================= -->
<%= render partial: 'csv_prospect_form' %>

<!-- Assign people owner modal form
================================= -->
<%= render partial: 'assign_people_owner_form.modal' %>
