<% # Set the title attribute for this page
   content_for :title do %>
    People
<% end %>

<% # Set the title of content
   content_for :content_title do %>
    People <small>Add new</small>
<% end %>

<%
  @num = params[:people] ? params[:people][:people].count : 10
%>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Prospect nhanh</h3>
  </div><!-- /.box-header -->

  <!-- form start -->
  <%= form_with url: staff_people_fast_prospect_path, method: :post, local: true,
                id: 'fast_prospect_form', class: 'form-horizontal',
                html: { role: 'form', onkeypress: 'return event.keyCode != 13;' } do |f| %>
    <%= hidden_field_tag :type, params[:type] %>

    <div class="box-body">

      <div class="form-group">
        <%= label_tag 'product', 'Loại sản phẩm *', class: 'control-label col-sm-3' %>

        <div class="col-sm-6">
          <%= select_tag 'people[product_id]', options_from_collection_for_select(Product.all, :id, :name, params[:people] ? params[:people][:product_id] : nil), prompt: 'Select', class: 'form-control select2', required: true %>
        </div>
      </div>

      <div class="table-responsive">
        <table id="multi-person" class="table table-hover table-bordered table-striped no-margin">
          <thead>
          <tr>
            <th>STT</th>
            <th>Họ và tên lót</th>
            <th>Tên *</th>
            <th>SDT *</th>
            <th class="th-school <%= params[:people] ? (params[:people][:product_id] === '1' ? 'present' : 'hidden') : 'hidden' %>">Trường *</th>
            <th class="th-merchandise <%= params[:people] ? (params[:people][:product_id] === '2' ? 'present' : 'hidden') : 'hidden' %>">Mặt hàng *</th>
            <th>CMND/Căn cước</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
          </tr>
          </thead>
          <tbody>
          <% @num.times do |index|
            row = index + 1
            field_errors = @error_lines[row].try(:keys) || []%>
            <tr id="<%= row %>">
              <td><%= label_tag 'stt', row, class: 'control-label col-sm-3' %></td>
              <td><%= text_field_tag 'people[people][]person[last_name]', params[:people] ? params[:people][:people][index][:person][:last_name] : nil, class: 'form-control' %></td>
              <td class="<%= field_errors.include?(:first_name) ? 'has-error' : nil %>">
                <%= text_field_tag 'people[people][]person[first_name]', params[:people] ? params[:people][:people][index][:person][:first_name] : nil,  class: 'form-control' %>
                <%= input_error_message(@error_lines[row].try(:[], :first_name)) %>
              </td>
              <td class="<%= field_errors.include?(:phone) ? 'has-error' : nil %>">
                <%= text_field_tag 'people[people][]person[phone]', params[:people] ? params[:people][:people][index][:person][:phone] : nil,  class: 'form-control' %>
                <%= input_error_message(@error_lines[row].try(:[], :phone)) %>
              </td>
              <td class="td-school <%= params[:people] ? (params[:people][:product_id] === '1' ? 'present' : 'hidden') : 'hidden' %> <%= field_errors.include?(:school) ? 'has-error' : nil%>">
                <%= text_field_tag 'people[people][]person[school]', params[:people] ? params[:people][:people][index][:person][:school] : nil,  class: 'form-control' %>
                <%= input_error_message(@error_lines[row].try(:[], :school)) %>
              </td>
              <td class="td-merchandise <%= params[:people] ? (params[:people][:product_id] === '2' ? 'present' : 'hidden') : 'hidden' %> <%= field_errors.include?(:first_name) ? 'has-error' : nil%>">
                <%= text_field_tag 'people[people][]person[merchandise]', params[:people] ? params[:people][:people][index][:person][:merchandise] : nil,  class: 'form-control' %>
                <%= input_error_message(@error_lines[row].try(:[], :merchandise)) %>
              </td>
              <td class="<%= field_errors.include?(:nic_number) ? 'has-error' : nil%>">
                <%= text_field_tag 'people[people][]person[nic_number]', params[:people] ? params[:people][:people][index][:person][:nic_number] : nil, class: 'form-control' %>
                <%= input_error_message(@error_lines[row].try(:[], :nic_number)) %>
              </td>
              <td><%= select_tag 'people[people][]person[gender]', options_for_select(Person::GENDER_TYPES, selected: params[:people] ? params[:people][:people][index][:person][:gender] : nil), prompt: 'Select', class: 'form-control' %></td>
              <td><%= date_field_tag 'people[people][]person[birthday]', params[:people] ? params[:people][:people][index][:person][:birthday] : nil,  class: 'form-control' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div><!-- /.table-responsive -->

      <div class="box-footer">
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <%= link_to '', id: 'add-more', name: 'add-more' do %>
              <%= fa_icon 'plus-circle' %>Thêm 10 dòng
            <% end %>
            <%= link_to 'Hủy', staff_people_path, class: 'btn btn-default btn-flat' %>
            <%= submit_tag 'Tạo', class: 'btn btn-success btn-flat' %>
          </div>
        </div>
      </div><!-- /.box-footer -->
  <% end %>
  </div>
</div>
