<% # Set the title attribute for this page
   content_for :title do %>
    Permissions
<% end %>

<% # Set the title of content
   content_for :content_title do %>
    Permissions
<% end %>

<div class="box box-primary">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped no-margin">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @permissions.each do |permission| %>
            <tr>
              <td><%= permission.id %></td>
              <td><%= permission.name %></td>
              <td><%= permission.description %></td>
              <td>
                <%= link_to edit_staff_permission_path(permission), class: 'btn btn-xs btn-flat bg-orange' do %>
                  <%= fa_icon 'edit' %> Edit
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= link_to staff_organizations_path, class: 'btn btn-default btn-flat' do %>
      <%= fa_icon 'sitemap' %> Back to Organizations list
    <% end %>
  </div><!-- /.box-footer -->
</div><!-- /.box -->
